<app-header (onSidenavToogle)="onSidenavToogle()"></app-header>
<mat-sidenav-container>
  <mat-sidenav [opened]="sidenavOpened" [mode]="sidenavMode">
    <mat-action-list>
      <ng-container *ngFor="let item of navigationItems">
        <ng-container *ngxPermissionsOnly="item.permission || undefined">
          <mat-list-item [routerLink]="item.route" [routerLinkActive]="'selected'" (click)="checkClick()">
            <mat-icon mat-list-icon>{{ item.icon }}</mat-icon>
            <div mat-line>{{ item.name | translate }}</div>
          </mat-list-item>
        </ng-container>
      </ng-container>
    </mat-action-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div [style.height]="'4px'">
      <mat-progress-bar mode="indeterminate" *ngIf="pendingTasks?.length > 0"></mat-progress-bar>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
