<mat-card class="basic-card large">
  <div class="row between">
    <ui-breadcrumb [showHome]="true" [navigationItems]="navigationItems" (onNavigationItemClick)="navigateTo($event.route)"></ui-breadcrumb>
    <button mat-raised-button color="primary" (click)="navigateToIdentifierCreate()">{{ 'identifier.add.button' | translate }}</button>
  </div>

  <ui-divider [compact]="true"></ui-divider>
  <identifier-filter (onFilter)="filter($event)"></identifier-filter>

  <ui-divider [compact]="true"></ui-divider>
  <table mat-table [dataSource]="identifierList?.docs" class="mat-elevation-z0">
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef>{{ 'general.created_at' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.createdAt | date: 'MMM dd YYYY HH:mm' }}</td>
    </ng-container>

    <ng-container matColumnDef="organization">
      <th mat-header-cell *matHeaderCellDef>{{ 'identifier.organization' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.organizationName }}</td>
    </ng-container>

    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef>{{ 'identifier.user' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.user?.fullname || element.user?.email }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>{{ 'identifier.status' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.status }}</td>
    </ng-container>

    <ng-container matColumnDef="validUntil">
      <th mat-header-cell *matHeaderCellDef>{{ 'identifier.valid_until' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.validUntil | date: 'MMM dd YYYY' }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      class="row-clickable"
      [ngClass]="{ 'row-error': row.level === 'error', 'row-info': row.level === 'info' }"
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="navigateToIdentifierDetail(row.id)"
    ></tr>
  </table>
  <mat-paginator
    #paginator
    [length]="identifierList?.totalDocs"
    [pageSize]="filterData?.pageSize"
    [pageIndex]="filterData?.page"
    [pageSizeOptions]="[20, 50, 100]"
    (page)="onPaginatorEvent($event)"
  >
  </mat-paginator>
</mat-card>

<div *ngIf="identifierList?.totalDocs === 0">
  <ui-empty-list (onAdd)="navigateToIdentifierCreate()"></ui-empty-list>
</div>
