<ui-divider></ui-divider>
<div class="row vertical-align">
  <mat-icon>info</mat-icon><ui-divider [compact]="true" [vertical]="true"></ui-divider>
  {{ 'profile.password.infoMessage' | translate: { $1: (lastPasswordChange | date) } }}
</div>
<ui-divider [compact]="true"></ui-divider>
<form [formGroup]="form" (ngSubmit)="onChangePassword()">
  <div class="row">
    <mat-form-field>
      <mat-label>{{ 'profile.oldPassword' | translate }}</mat-label>
      <input matInput formControlName="oldPassword" name="oldPassword" type="password" />
      <mat-error><ui-form-error [formGroup]="form" [name]="'oldPassword'"></ui-form-error></mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field>
      <mat-label>{{ 'profile.newPassword' | translate }}</mat-label>
      <input matInput formControlName="newPassword" name="newPassword" type="password" />
      <mat-error><ui-form-error [formGroup]="form" [name]="'newPassword'"></ui-form-error></mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field>
      <mat-label>{{ 'profile.newPasswordConfirm' | translate }}</mat-label>
      <input matInput formControlName="newPasswordConfirm" name="newPasswordConfirm" type="password" />
      <mat-error><ui-form-error [formGroup]="form" [name]="'newPasswordConfirm'"></ui-form-error></mat-error>
    </mat-form-field>
  </div>

  <ui-divider></ui-divider>

  <div class="row center">
    <button mat-raised-button color="primary" type="submit" [disabled]="!form?.valid">{{ 'general.changePassword.button' | translate }}</button>
  </div>
</form>
