<mat-card class="basic-card large">
  <div class="column" [style.minHeight]="'32rem'">
    <ui-breadcrumb [showHome]="true" [navigationItems]="navigationItems" (onNavigationItemClick)="navigateTo($event.route)"></ui-breadcrumb>

    <ui-divider [compact]="true"></ui-divider>
    <form [formGroup]="form">
      <mat-horizontal-stepper #stepper [@.disabled]="true">
        <mat-step [stepControl]="form?.controls?.info">
          <ng-template matStepLabel>{{ 'organization.create.stepInfo.title' | translate }}</ng-template>
          <div formGroupName="info">
            <div class="row">
              <mat-form-field>
                <mat-label>{{ 'organization.name' | translate }}</mat-label>
                <input matInput formControlName="name" name="name" />
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field>
                <mat-label>{{ 'organization.description' | translate }}</mat-label>
                <input matInput formControlName="description" name="description" />
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field>
                <mat-label>{{ 'organization.businessId' | translate }}</mat-label>
                <input matInput formControlName="businessId" name="businessId" />
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field>
                <mat-label>{{ 'organization.registrationNumberVAT' | translate }}</mat-label>
                <input matInput formControlName="registrationNumberVAT" name="registrationNumberVAT" />
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field>
                <mat-label>{{ 'organization.taxId' | translate }}</mat-label>
                <input matInput formControlName="taxId" name="taxId" />
              </mat-form-field>
            </div>
          </div>
        </mat-step>
        <mat-step [stepControl]="form?.controls?.address">
          <ng-template matStepLabel>{{ 'organization.create.stepAddress.title' | translate }}</ng-template>
          <ui-address formGroupName="address"></ui-address>
        </mat-step>
        <mat-step [stepControl]="form?.controls?.owner">
          <ng-template matStepLabel>{{ 'organization.create.stepOwner.title' | translate }}</ng-template>
          <div formGroupName="owner">
            <div class="column">
              <div class="row">
                <mat-form-field>
                  <mat-label>{{ 'organization.ownerEmail' | translate }}</mat-label>
                  <input matInput formControlName="email" name="email" />
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field>
                  <mat-label>{{ 'organization.ownerName' | translate }}</mat-label>
                  <input matInput formControlName="name" name="name" />
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field>
                  <mat-label>{{ 'organization.ownerSurname' | translate }}</mat-label>
                  <input matInput formControlName="surname" name="surname" />
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>{{ 'organization.create.stepPackage.title' | translate }}</ng-template>

          select package for you!
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>{{ 'organization.create.stepFinish.title' | translate }}</ng-template>
          <p>You are now done.</p>
        </mat-step>
      </mat-horizontal-stepper>
    </form>

    <div class="bottom-content">
      <div class="column center">
        <h3 class="mat-h3">{{ stepper.selectedIndex + 1 }} / 6</h3>
        <button mat-raised-button color="primary" type="submit" [disabled]="!form?.valid">{{ 'general.create.button' | translate }}</button>
      </div>
    </div>
  </div>
</mat-card>
