<mat-card class="basic-card large">
  <div class="column" [style.minHeight]="'32rem'">
    <ui-breadcrumb [showHome]="true" [navigationItems]="navigationItems" (onNavigationItemClick)="navigateTo($event.route)"></ui-breadcrumb>

    <ui-divider [compact]="true"></ui-divider>
    <form [formGroup]="form">
      <mat-horizontal-stepper #stepper [@.disabled]="true">
        <mat-step [stepControl]="form?.controls?.info">
          <ng-template matStepLabel>{{ 'organization.create.stepInfo.title' | translate }}</ng-template>
          <div formGroupName="info">
            <div class="row">
              <mat-form-field>
                <mat-select formControlName="owner" [placeholder]="'organization.owner' | translate">
                  <mat-option>
                    <ngx-mat-select-search [placeholderLabel]="'organization.owner_search' | translate" #ownerSearch></ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let user of users | filter: ['fullname', 'email']:ownerSearch.value" [value]="user?.id">
                    {{ user?.fullname || user?.email }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field>
                <mat-label>{{ 'organization.name' | translate }}</mat-label>
                <input matInput formControlName="name" name="name" [placeholder]="'organization.name.hint' | translate" />
                <mat-error><ui-form-error [formGroup]="form" [name]="'info.name'"></ui-form-error></mat-error>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field>
                <mat-label>{{ 'organization.description' | translate }}</mat-label>
                <input matInput formControlName="description" name="description" />
                <mat-error><ui-form-error [formGroup]="form" [name]="'info.description'"></ui-form-error></mat-error>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field>
                <mat-label>{{ 'organization.businessId' | translate }}</mat-label>
                <input matInput formControlName="businessId" name="businessId" />
                <mat-error><ui-form-error [formGroup]="form" [name]="'info.businessId'"></ui-form-error></mat-error>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field>
                <mat-label>{{ 'organization.registrationNumberVAT' | translate }}</mat-label>
                <input matInput formControlName="registrationNumberVAT" name="registrationNumberVAT" />
                <mat-error><ui-form-error [formGroup]="form" [name]="'info.registrationNumberVAT'"></ui-form-error></mat-error>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field>
                <mat-label>{{ 'organization.taxId' | translate }}</mat-label>
                <input matInput formControlName="taxId" name="taxId" autocomplete="new-data" />
                <mat-error><ui-form-error [formGroup]="form" [name]="'info.taxId'"></ui-form-error></mat-error>
              </mat-form-field>
            </div>
          </div>
        </mat-step>
        <mat-step [stepControl]="form?.controls?.address">
          <ng-template matStepLabel>{{ 'organization.create.stepAddress.title' | translate }}</ng-template>
          <ui-address formGroupName="address"></ui-address>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>{{ 'organization.create.stepPackage.title' | translate }}</ng-template>
          <mat-form-field>
            <mat-select formControlName="packageId" [placeholder]="'organization.package' | translate">
              <mat-option *ngFor="let package of packages" [value]="package?.id">
                {{ package?.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-step>
        <!-- <mat-step>
          <ng-template matStepLabel>{{ 'organization.create.stepFinish.title' | translate }}</ng-template>
          <p>You are now done.</p>
        </mat-step> -->
      </mat-horizontal-stepper>
    </form>

    <div class="bottom-content">
      <div class="column center">
        <h3 class="mat-h3">{{ stepper.selectedIndex + 1 }} / 6</h3>
        <button mat-raised-button color="primary" type="submit" [disabled]="!form?.valid" (click)="onCreateOrganization()">
          {{ 'general.create.button' | translate }}
        </button>
      </div>
    </div>
  </div>
</mat-card>
