<app-header></app-header>
<mat-sidenav-container>
  <mat-sidenav [opened]="true" mode="side">
    <mat-action-list>
      <ng-container *ngFor="let item of navigationItems">
        <button mat-list-item [routerLink]="item.route">{{ item.name | translate }}</button>
      </ng-container>
    </mat-action-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div [style.height]="'4px'">
      <mat-progress-bar mode="indeterminate" *ngIf="pendingTasks?.length > 0"></mat-progress-bar>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
