<mat-card class="basic-card large">
  <div class="row between">
    <ui-breadcrumb [showHome]="true" [navigationItems]="navigationItems" (onNavigationItemClick)="navigateTo($event.route)"></ui-breadcrumb>
  </div>

  <ui-divider [compact]="true"></ui-divider>
  <log-filter (onFilter)="filter($event)"></log-filter>

  <ui-divider [compact]="true"></ui-divider>
  <table mat-table [dataSource]="logList?.docs" class="mat-elevation-z0">
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef>{{ 'general.created_at' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.createdAt | date: 'MMM dd YYYY HH:mm' }}</td>
    </ng-container>
    <ng-container matColumnDef="level">
      <th mat-header-cell *matHeaderCellDef>{{ 'log.level' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.level }}</td>
    </ng-container>

    <ng-container matColumnDef="message">
      <th mat-header-cell *matHeaderCellDef>{{ 'log.message' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.message | slice: 0:200 }}{{ element.message?.length > 200 ? '...' : '' }}</td>
    </ng-container>

    <ng-container matColumnDef="meta">
      <th mat-header-cell *matHeaderCellDef>{{ 'log.meta' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.meta | json }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      class="row-clickable"
      [ngClass]="{ 'row-error': row.level === 'error', 'row-info': row.level === 'info' }"
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="navigateToLogDetail(row.id)"
    ></tr>
  </table>
  <mat-paginator
    #paginator
    [length]="logList?.totalDocs"
    [pageSize]="filterData?.pageSize"
    [pageIndex]="filterData?.page"
    [pageSizeOptions]="[20, 50, 100]"
    (page)="onPaginatorEvent($event)"
  >
  </mat-paginator>
</mat-card>
