<mat-card class="basic-card" *ngIf="organizationList?.length > 0">
  <div class="row between">
    <ui-breadcrumb [showHome]="true" [navigationItems]="navigationItems" (onNavigationItemClick)="navigateTo($event.route)"></ui-breadcrumb>
    <button mat-raised-button color="primary" (click)="navigateToOrganizationCreate()">{{ 'organization.add.button' | translate }}</button>
  </div>
  <table mat-table [dataSource]="organizationList" class="mat-elevation-z0">
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef>{{ 'general.createdAt' | translate }}</th>
      <td class="sm-hide" mat-cell *matCellDef="let element">{{ element.createdAt | date }}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>{{ 'organization.name' | translate }}</th>
      <td class="sm-bold m-card-title" mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="owner">
      <th mat-header-cell *matHeaderCellDef>{{ 'organization.owner' | translate }}</th>
      <td class="sm-hide" mat-cell *matCellDef="let element">{{ element.owner?.fullname || element.owner?.email }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>{{ 'organization.status' | translate }}</th>
      <td class="sm-description" mat-cell *matCellDef="let element">{{ element.status }}</td>
    </ng-container>

    <ng-container matColumnDef="userCount">
      <th mat-header-cell *matHeaderCellDef>{{ 'organization.user_count' | translate }}</th>
      <td class="sm-hide" mat-cell *matCellDef="let element">{{ element.userCount }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr class="row-clickable" mat-row *matRowDef="let row; columns: displayedColumns" (click)="navigateToOrganizationDetail(row.id)"></tr>
  </table>
</mat-card>

<div *ngIf="organizationList?.length === 0">
  <ui-empty-list (onAdd)="navigateToOrganizationCreate()"></ui-empty-list>
</div>
