<img class="background" [src]="'./assets/images/wallpaper1.jpg'" width="100%" height="auto" />

<mat-card class="basic-card small">
  <form [formGroup]="form" (ngSubmit)="onLogin()">
    <div class="row">
      <mat-form-field>
        <mat-label>{{ 'general.email' | translate }}</mat-label>
        <input matInput formControlName="email" name="email" />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>{{ 'general.password' | translate }}</mat-label>
        <input matInput formControlName="password" type="password" name="password" />
      </mat-form-field>
    </div>

    <div class="row center">
      <button color="primary" mat-raised-button type="submit">{{ 'general.login.button' | translate }}</button>
    </div>
  </form>
</mat-card>

<ui-divider></ui-divider>

<app-login-partners></app-login-partners>
