<img class="background" [alt]="'background'" [src]="'./assets/images/wallpaper1.jpg'" width="100%" height="auto" />

<mat-card class="basic-card small" *ngIf="!emailSent">
  <div class="row between">
    <h1>{{ 'login.forgotPassword.title' | translate }}</h1>
  </div>
  <ui-divider [compact]="true"></ui-divider>
  <p>{{ 'login.forgotPassword.message' | translate }}</p>
  <ui-divider></ui-divider>
  <form [formGroup]="form" (ngSubmit)="onResetPassword()">
    <div class="row">
      <mat-form-field>
        <mat-label>{{ 'general.email' | translate }}</mat-label>
        <input matInput formControlName="email" name="email" />
      </mat-form-field>
    </div>

    <div class="row between">
      <a mat-flat-button (click)="navigateToLoginHome()">{{ 'login.forgotPassword.back' | translate }}</a>
      <button color="primary" mat-raised-button type="submit" [disabled]="!form.valid">{{ 'login.forgotPassword.button' | translate }}</button>
    </div>
  </form>
</mat-card>
<mat-card class="basic-card small" *ngIf="emailSent">
  <ui-divider></ui-divider>
  <h1 class="text-align-center">{{ 'login.forgotPassword.title2' | translate }}</h1>
  <ui-divider></ui-divider>

  <div class="row center">
    <a mat-flat-button (click)="navigateToLoginHome()">{{ 'login.forgotPassword.back' | translate }}</a>
  </div>
</mat-card>
<ui-divider></ui-divider>

<app-login-partners></app-login-partners>
