img.background {
  position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0.35;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -5;
}


