p Vitajte, #{name},
p Táto emailová adresa bola zaregistrovaná ako hlavný kontakt pre novú organizáciu s názvom #{organizationName} v systéme Edusys. Pre overenie emailovej adresy prosím kliknite na nasledujúci odkaz:
<h3>#{verifyTokenUrl}</h3>
p S pozdravom, Vaša aplikácia Edusys.
