<mat-card class="basic-card">
  <div class="row between">
    <ui-breadcrumb [showHome]="true" [navigationItems]="navigationItems" (onNavigationItemClick)="navigateTo($event.route)"></ui-breadcrumb>
    <button *ngxPermissionsOnly="[PERMISSION.TASK.CREATE]" mat-raised-button color="primary" (click)="navigateToTaskCreate()">
      {{ 'task.add.button' | translate }}
    </button>
  </div>
  <ui-divider [compact]="true"></ui-divider>
  <task-filter (onFilter)="filter($event)"></task-filter>

  <ui-divider [compact]="true"></ui-divider>
  <table mat-table [dataSource]="taskList?.docs" class="mat-elevation-z0">
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef>{{ 'general.created_at' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.createdAt | date }}</td>
    </ng-container>
    <ng-container *ngxPermissionsOnly="[PERMISSION.TASK.VIEW_ALL]">
      <ng-container matColumnDef="organization">
        <th mat-header-cell *matHeaderCellDef>{{ 'task.organization' | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.organization?.name }}</td>
      </ng-container>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>{{ 'task.name' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>
    <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef>{{ 'task.priority' | translate }}</th>
      <td mat-cell *matCellDef="let element">
        <mat-chip-list>
          <mat-chip [class]="element.priority">{{ element.priority }}</mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>{{ 'task.status' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.status }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      [ngClass]="{ 'row-clickable': !!permissions[PERMISSION.TASK.DETAIL], 'row-error': row.level === 'error', 'row-info': row.level === 'info' }"
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="navigateToTaskDetail(row.id)"
    ></tr>
  </table>
  <mat-paginator
    #paginator
    [length]="taskList?.totalDocs"
    [pageSize]="filterData?.pageSize"
    [pageIndex]="filterData?.page"
    [pageSizeOptions]="[20, 50, 100]"
    (page)="onPaginatorEvent($event)"
  >
  </mat-paginator>
</mat-card>

<div *ngIf="taskList?.length === 0">
  <ui-empty-list (onAdd)="navigateToTaskCreate()"></ui-empty-list>
</div>
