<mat-card class="basic-card">
  <ui-breadcrumb [showHome]="true" [navigationItems]="navigationItems" (onNavigationItemClick)="navigateTo($event.route)"></ui-breadcrumb>
  <ui-divider></ui-divider>
  <div class="column">
    <p class="mat-body">{{ 'package.name' | translate }}</p>
    <h4 class="mat-display-h4">{{ packageDetail?.name }}</h4>
  </div>
  <ui-divider [compact]="true"></ui-divider>
  <div class="column">
    <p class="mat-body">{{ 'package.description' | translate }}</p>
    <h4 class="mat-display-h4">{{ packageDetail?.description }}</h4>
  </div>
  <ui-divider [compact]="true"></ui-divider>
  <div class="column">
    <p class="mat-body">{{ 'package.enabled' | translate }}</p>
    <h4 class="mat-display-h4">{{ packageDetail?.enabled }}</h4>
  </div>
  <ui-divider [compact]="true"></ui-divider>
  <div class="column">
    <p class="mat-body">{{ 'package.modules' | translate }}</p>
    <h4 class="mat-display-h4">{{ packageDetail?.modules | json }}</h4>
  </div>
  <ui-divider [compact]="true"></ui-divider>
  <div class="column">
    <p class="mat-body">{{ 'package.annumPrices' | translate }}</p>
    <h4 class="mat-display-h4">{{ packageDetail?.annumPrices | json }}</h4>
  </div>
  <ui-divider [compact]="true"></ui-divider>
  <div class="column">
    <p class="mat-body">{{ 'package.installationPrices' | translate }}</p>
    <h4 class="mat-display-h4">{{ packageDetail?.installationPrices | json }}</h4>
  </div>
  <ui-divider></ui-divider>

  <div class="row between">
    <button mat-button (click)="deletePackage()">{{ 'general.delete.button' | translate }}</button>
    <button mat-raised-button color="primary" type="submit" (click)="navigateToPackageEdit(packageId)">{{ 'general.edit.button' | translate }}</button>
  </div>
</mat-card>
