<mat-card class="basic-card">
  <ui-breadcrumb [showHome]="true" [navigationItems]="navigationItems" (onNavigationItemClick)="navigateTo($event.route)"></ui-breadcrumb>

  <ui-divider [compact]="true"></ui-divider>
  <form [formGroup]="form">
    <div class="row">
      <mat-form-field>
        <mat-label>{{ 'subscription.createdAt' | translate }}</mat-label>
        <input matInput [value]="subscriptionDetail?.createdAt | date: 'MMM dd YYYY HH:mm'" [disabled]="true" />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>{{ 'subscription.name' | translate }}</mat-label>
        <input matInput formControlName="name" name="name" [readonly]="!isEditMode" />
        <mat-error><ui-form-error [formGroup]="form" [name]="'name'"></ui-form-error></mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>{{ 'subscription.description' | translate }}</mat-label>
        <input matInput formControlName="description" name="description" [readonly]="!isEditMode" />
        <mat-error><ui-form-error [formGroup]="form" [name]="'description'"></ui-form-error></mat-error>
      </mat-form-field>
    </div>
    <div class="row between">
      <mat-form-field [style.width]="'45%'">
        <mat-select formControlName="status" [placeholder]="'subscription.status' | translate" *ngIf="isEditMode">
          <mat-option [value]="subscriptionStatuses.ACTIVE">
            {{ subscriptionStatuses.ACTIVE }}
          </mat-option>
          <mat-option [value]="subscriptionStatuses.CANCELED">
            {{ subscriptionStatuses.CANCELED }}
          </mat-option>
          <mat-option [value]="subscriptionStatuses.DEMO">
            {{ subscriptionStatuses.DEMO }}
          </mat-option>
          <mat-option [value]="subscriptionStatuses.EXPIRED">
            {{ subscriptionStatuses.EXPIRED }}
          </mat-option>
        </mat-select>
        <input matInput formControlName="status" name="status" *ngIf="!isEditMode" [placeholder]="'subscription.status' | translate" [readonly]="true" />
        <mat-error><ui-form-error [formGroup]="form" [name]="'status'"></ui-form-error></mat-error>
      </mat-form-field>
      <mat-form-field [style.width]="'45%'">
        <mat-label>{{ 'subscription.reference' | translate }}</mat-label>
        <input matInput formControlName="reference" name="reference" [readonly]="!isEditMode" />
        <mat-error><ui-form-error [formGroup]="form" [name]="'reference'"></ui-form-error></mat-error>
      </mat-form-field>
    </div>

    <div class="bottom-content">
      <div class="row between" *ngIf="isEditMode">
        <button mat-button type="button" (click)="showDeleteDialog()">{{ 'general.delete.button' | translate }}</button>
        <ui-divider [compact]="true" [vertical]="true"></ui-divider>
        <div class="row right">
          <button mat-button (click)="navigateToSubscriptionDetail(subscriptionDetail?.id)">{{ 'general.cancel.button' | translate }}</button>
          <ui-divider [compact]="true" [vertical]="true"></ui-divider>
          <button mat-raised-button color="primary" type="button" (click)="onEditSubscription()" [disabled]="!form.valid">
            {{ 'general.save.button' | translate }}
          </button>
        </div>
      </div>
      <div class="row right" *ngIf="!isEditMode">
        <button mat-raised-button color="primary" type="button" (click)="navigateToSubscriptionEdit(subscriptionDetail?.id)">
          {{ 'general.edit.button' | translate }}
        </button>
      </div>
    </div>
  </form>
</mat-card>
