<img class="background" [alt]="'background'" [src]="'./assets/images/wallpaper1.jpg'" width="100%" height="auto" />

<mat-card class="basic-card small">
  <mat-card-header class="mat-card-header"> login here </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onCreatePassword()">
      <div class="row">
        <mat-form-field>
          <mat-label>{{ 'general.email' | translate }}</mat-label>
          <input matInput formControlName="email" name="email" [readonly]="true" />
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field>
          <mat-label>{{ 'general.password' | translate }}</mat-label>
          <input matInput formControlName="password" type="password" name="password" />
        </mat-form-field>
      </div>

      <div class="row center">
        <button color="primary" mat-raised-button type="submit" [disabled]="!form.valid">{{ 'login.create-password.button' | translate }}</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<ui-divider></ui-divider>

<app-login-partners></app-login-partners>
