<img class="background" [alt]="'background'" [src]="'./assets/images/wallpaper1.jpg'" width="100%" height="auto" />

<mat-card class="basic-card small">
  <h1>{{ 'login.createPassword.title' | translate }}</h1>
  <ui-divider [compact]="true"></ui-divider>
  <p>{{ 'login.createPassword.message' | translate }}</p>
  <ui-divider></ui-divider>
  <form [formGroup]="form" (ngSubmit)="onCreatePassword()">
    <div class="row">
      <mat-form-field>
        <mat-label>{{ 'general.email' | translate }}</mat-label>
        <input matInput formControlName="email" name="email" [readonly]="true" />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>{{ 'general.password' | translate }}</mat-label>
        <input matInput formControlName="password" type="password" name="password" #passwordInput />
        <mat-icon class="pointer" matSuffix (click)="passwordInput.type = passwordInput.type === 'password' ? 'text' : 'password'">{{
          passwordInput.type === 'password' ? 'lock' : 'lock_open'
        }}</mat-icon>
      </mat-form-field>
    </div>

    <div class="row center">
      <button color="primary" mat-raised-button type="submit" [disabled]="!form.valid">{{ 'login.createPassword.button' | translate }}</button>
    </div>
  </form>
</mat-card>
<ui-divider></ui-divider>

<app-login-partners></app-login-partners>
