img.background {
  position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0.35;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -5;
}

.mat-card-header{
  background-color:#2196f3 !important;
  padding:16px !important;
}

 .mat-card{
  padding:0 !important;
}

.mat-card-content{
  padding:16px !important;
}


