<ui-divider></ui-divider>
<form [formGroup]="form" *ngIf="userInfo">
  <div class="row left vertical-align">
    <mat-icon class="avatar-logo">account_circle</mat-icon>
    <ui-divider [vertical]="true"></ui-divider>
    <div class="column" [style.flexGrow]="'1'">
      <mat-form-field>
        <mat-label>{{ 'profile.name' | translate }}</mat-label>
        <input matInput formControlName="name" name="name" [readonly]="true" />
        <mat-error><ui-form-error [formGroup]="form" [name]="'name'"></ui-form-error></mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'profile.surname' | translate }}</mat-label>
        <input matInput formControlName="surname" name="surname" [readonly]="true" />
        <mat-error><ui-form-error [formGroup]="form" [name]="'surname'"></ui-form-error></mat-error>
      </mat-form-field>
    </div>
  </div>

  <ui-divider></ui-divider>

  <div class="row">
    <mat-form-field>
      <mat-label>{{ 'profile.email' | translate }}</mat-label>
      <input matInput [value]="userInfo?.email" [readonly]="true" />
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field>
      <mat-label>{{ 'profile.phone' | translate }}</mat-label>
      <input matInput [value]="userInfo?.phone" [readonly]="true" />
    </mat-form-field>
  </div>

  <ui-divider></ui-divider>
</form>
