<mat-card class="basic-card">
  <form [formGroup]="form" (ngSubmit)="onCreatePackage()">
    <div class="row">
      <mat-form-field>
        <mat-label>{{ 'package.name' | translate }}</mat-label>
        <input matInput formControlName="name" name="name" />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>{{ 'package.description' | translate }}</mat-label>
        <input matInput formControlName="description" name="description" />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-select multiple formControlName="moduleIds" [placeholder]="'package.selectModule' | translate">
          <mat-option *ngFor="let module of moduleList" [value]="module?.id">
            {{ module?.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <ui-divider [solid]="true" [compact]="true"></ui-divider>

    <div class="column">
      <div class="row vertical-align">
        <h4 class="mat-display-h4">{{ 'package.annumPrices' | translate }}</h4>
        <button mat-icon-button type="button" (click)="addAnnumPrice()" [matTooltip]="'package.addAnnumPrice.button' | translate">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div formArrayName="annumPrices">
        <div *ngFor="let control of form?.get('annumPrices')['controls']; let i = index">
          <ui-amount [label]="('package.annumPrice' | translate) + ' ' + i" [formGroupName]="i" (onDelete)="deleteAnnumPrice(i)"></ui-amount>
        </div>
      </div>
    </div>

    <ui-divider [solid]="true" [compact]="true"></ui-divider>

    <div class="column">
      <div class="row vertical-align">
        <h4 class="mat-display-h4">{{ 'package.installationPrices' | translate }}</h4>
        <button mat-icon-button type="button" (click)="addInstallationPrice()" [matTooltip]="'package.addInstallationPrices.button' | translate">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div formArrayName="installationPrices">
        <div *ngFor="let control of form?.get('installationPrices')['controls']; let i = index">
          <ui-amount [label]="('package.installationPrices' | translate) + ' ' + i" [formGroupName]="i" (onDelete)="deleteInstallationPrice(i)"></ui-amount>
        </div>
      </div>
    </div>

    <div class="row center">
      <button mat-raised-button color="primary" type="submit" [disabled]="!form?.valid">{{ 'general.create.button' | translate }}</button>
    </div>
  </form>
</mat-card>
