<mat-card class="basic-card">
  <form [formGroup]="form" (ngSubmit)="onCreateModule()">
    <div class="row">
      <mat-form-field>
        <mat-label>{{ 'module.name' | translate }}</mat-label>
        <input matInput formControlName="name" name="name" />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>{{ 'module.description' | translate }}</mat-label>
        <input matInput formControlName="description" name="description" />
      </mat-form-field>
    </div>

    <div class="row center">
      <button mat-raised-button color="primary" type="submit" [disabled]="!form?.valid">{{ 'general.create.button' | translate }}</button>
    </div>
  </form>
</mat-card>
